<div class="edgroup">
  <h1>Education</h1>
  <div class="degree1">
    <div class="degreename">Bachelor of Science in <b>Software Engineering</b></div>
    <div class="timeline">Jan 2016 — July 2019</div>
    <div class="school"><i>Kennesaw State University</i></div>
    <div class="GPA">GPA: <b>3.89</b></div>
  </div>
  <div class="degree2">
    <div class="degreename">Associate of Applied Science in <b>Computer Programming</b></div>
    <div class="timeline">Dec 2012 — Dec 2015</div>
    <div class="school"><i>Chattahoochee Technical College</i></div>
    <div class="GPA">GPA: <b>3.75</b></div>
  </div>
</div>
