<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black justify-content-between fixed-top">
  <mdb-navbar-brand>
    <a class="navbar-brand" href="">Muhammad Ali</a>
  </mdb-navbar-brand>
  <links>
    <div class="navbar-nav">
      <a class="nav-item nav-link active waves-light" href="#" mdbWavesEffect>Home <span
        class="sr-only">(current)</span></a>
      <a class="nav-item nav-link waves-light" href="#" mdbWavesEffect>About</a>
      <a class="nav-item nav-link waves-light" href="#" mdbWavesEffect>Projects</a>
      <a class="nav-item nav-link waves-light" href="#" mdbWavesEffect>Education</a>
      <a class="nav-item nav-link waves-light" href="#" mdbWavesEffect>Employment</a>
      <a class="nav-item nav-link waves-light" href="#" mdbWavesEffect>Contact</a>
    </div>
    <form class="form-inline waves-light waves-light ml-auto" mdbWavesEffect>
      <div class="md-form my-0">
        <button mdbBtn color="white" outline="true" size="sm" class="my-0 waves-light" type="submit" mdbWavesEffect>
          GitHub
        </button>
        <button mdbBtn color="white" outline="true" size="sm" class="my-0 waves-light" type="submit" mdbWavesEffect>
          Stack Profile
        </button>
        <button mdbBtn color="white" outline="true" size="sm" class="my-0 waves-light" type="submit" mdbWavesEffect>
          Download Resume
        </button>
      </div>
    </form>
  </links>
</mdb-navbar>
