<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black justify-content-between">
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLinkActive="active" routerLink="home">Muhammad Ali</a>
  </mdb-navbar-brand>
  <links>
    <div class="navbar-nav">
      <a class="nav-item nav-link waves-light" routerLinkActive="active" routerLink="home" mdbWavesEffect>Home</a>
      <a class="nav-item nav-link waves-light" routerLinkActive="active" routerLink="about" mdbWavesEffect>About</a>
      <a class="nav-item nav-link waves-light" routerLinkActive="active" routerLink="projects"
         mdbWavesEffect>Projects</a>
      <a class="nav-item nav-link waves-light" routerLinkActive="active" routerLink="education"
         mdbWavesEffect>Education</a>
      <a class="nav-item nav-link waves-light" routerLinkActive="active" routerLink="employment" mdbWavesEffect>Employment</a>
      <a class="nav-item nav-link waves-light" routerLinkActive="active" routerLink="contact" mdbWavesEffect>Contact</a>
    </div>
    <form class="form-inline waves-light waves-light ml-auto" mdbWavesEffect>
      <div class="md-form my-0">
        <button mdbBtn color="white" outline="true" size="sm" class="my-0 waves-light" type="submit" mdbWavesEffect>
          GitHub
        </button>
        <button mdbBtn color="white" outline="true" size="sm" class="my-0 waves-light" type="submit" mdbWavesEffect>
          Stack Profile
        </button>
        <button mdbBtn color="white" outline="true" size="sm" class="my-0 waves-light" type="submit" mdbWavesEffect>
          Download Resume
        </button>
      </div>
    </form>
  </links>
</mdb-navbar>
