.bodyText {
  text-align: left;
}

.icon {
  width: 100px;
  height: 100px;
}

.badge {
  border-radius: 10px;
  font-size: 45px;
  padding: 30px;
  margin-left: 60px;
}

.poster-buttons {
  max-width: 300px;
  background-color: #3F729B;
  border-radius: 0 0 5px 5px;
  color: white;
}

.poster {
  border-radius: 5px 5px 0 0;
  width: 100%;
  max-width: 300px;
  box-shadow: 0px -10px 50px -10px rgba(0, 0, 0, 0.4);
}

.watchlist, .love, .trailer {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.watchlist:hover, .love:hover, .trailer:hover {
  transition: all 0.1s linear;
  transition-delay: 0s;
  background-color: #467eab;
}

.year {
  font-size: 1.3rem;
}

b {
  font-weight: bold;
}

.ratings > tbody > tr > td {
  padding-left: 0;
}

.certifications {
  padding: 0.06em 4px 0.15em 4px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) and (min-width: 350px) {
  .poster {
    margin: 0 auto;
    display: block;
  }
  .poster-buttons {
    margin: 0 auto;
  }
}
