.badge {
  border-radius: 10px;
  font-size: 35px;
  padding: 30px;
}

img {
  width: 120px;
  height: 180px;
  border-radius: 5px;
}

.mInfo {
  text-align: left;
}

td {
  max-width: 10vw;
  border-radius: 10px;
}

.title {
  font-size: 1.1em;
}

.row {
  cursor:pointer;
}

@media (max-width: 768px) {
  .col {
   text-align: initial;
  }
}
