.badge {
  border-radius: 15px;
  font-size: 35px;
  padding: 30px
}

img {
  width: 120px;
  height: 180px;
}

.mInfo {
  text-align: left;
}

.mt-3 {
  display: inline-table;
}

.title {
  font-size: 1.2em;
}
