.nav-justified {
  margin-top: 10px;
  border-radius: 10px;
}

.nav-item {
  padding: 8px;
  text-decoration: none !important;
  cursor: pointer;
}

.unique-color-dark {
  background-color: #22344a !important;
  border-radius: 10px;
}

.nav-item:hover,
.nav-item:focus {
  color: #fff !important;
  text-decoration: none !important;
}

.badge {
  border-radius: 10px;
  font-size: 30px;
  width: 80px;
  height: 80px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 120px;
  border-radius: 5px;
}

.col-txt {
  text-align: left;
}

.col-img {
  text-align: center;
}

td {
  max-width: 10vw;

}

.td1 {
  border-radius: 10px 0 0 10px;
}

.td2 {
  border-radius: 0 10px 10px 0;
}

.title {
  font-size: 1.1em;
}

.title-name {
  font-weight: 400;
}

.row {
  cursor: pointer;
}

.stream {
  max-width: 120px;
}

@media (max-width: 768px) {
  .col-txt, .col-img {
    text-align: center;
  }
  .mInfo {
    margin-top: 5px;
  }
}
