<div class="pgroup">
  <h1>Projects</h1>
  <div class="p1">
    <div class="name"><b>Postit</b></div>
    <div class="desc">
      (Angular, TypeScript, SCSS, HTML5): Designed and implemented a web platform for tax and
      accounting professionals to automate financial needs including journalizing, posting, adjusting entries &
      producing income statements.
    </div>
    <div class="link"><a href="https://alinaeem.com/postit/" target="_blank">Link</a></div>
  </div>
  <div class="p2">
    <div class="name"><b>WeTile</b></div>
    <div class="desc">
      <img class="z-depth-3" src="./assets/wetile.jpg" alt="WeTile Picture"><br><br>
      (Android & C#): Developed a weather app that uses OpenWeatherMap API to get the current weather by utilizing GPS
      location on mobile devices. Designed widget functionality for both Android and Windows OS platform.
    </div>
    <div class="link">
      <a href="https://github.com/Ali229/WeTile" target="_blank">GitHub Link</a>
    </div>
  </div>
  <div class="p3">
    <div class="name"><b>ABDebatePRO</b></div>
    <div class="desc">
      <img class="z-depth-1-half cw" src="./assets/abdebatepro.jpg" alt="ABDebate Pro"><br><br>
      (Java): Implemented the Round Robin algorithm to develop an automated debate scheduler software for a school group
      project.
    </div>
    <div class="link">
      <a href="https://github.com/Ali229/ABDebatePro" target="_blank">GitHub Link</a>
    </div>
  </div>
  <div class="p4">
    <div class="name"><b>Appetite</b></div>
    <div class="desc">
      <img class="z-depth-1-half cw" src="./assets/appetite.jpg" alt="Appetite Picture"><br><br>
      (Unity): Developed a 2D video game by utilizing gyroscope functionality for mobile devices.
    </div>
    <div class="link"></div>
  </div>
  <div class="p5">
    <div class="name"><b>ChatWare</b></div>
    <div class="desc">
      <img class="z-depth-1-half cw" src="./assets/chatware.jpg" alt="ChatWare Picture"><br><br>
      (Java): Developed a social communication Java software that utilizes socket programming & Java-FX.
    </div>
    <div class="link">
      <a href="https://github.com/Ali229/ChatWare" target="_blank">GitHub Link</a>
    </div>
  </div>
  <div class="p6">
    <div class="name"><b>Simple flashlight</b></div>
    <div class="desc">
      (Android): Developed and launched an Android flashlight application on Google Play. Also added widget
      functionality. Project is launched on Google Play.
    </div>
    <div class="link"><a href="https://alinaeem.com/flashlight" target="_blank">Google Play Link</a></div>
  </div>
</div>
