.cw {
  width: 70%;
  height: auto;
}

.p2, .p3, .p4, .p5, .p6 {
  margin-top: 20px;
}

h1 {
  margin-bottom: 30px;
}

.pgroup {
  margin-top: 15px;
}

.name {
  margin: 0 auto;
  font-size: x-large;
}

.desc {
  margin: 0 auto;
  font-size: larger;
}

.link {
  margin: 0 auto;
  font-size: large;
}

@media screen and (max-width: 1024px) {
  .name, .desc, .link, .cw {
    float: none;
    width: 100%;
  }
}
