<div><h1 style="margin-bottom: 20px">Contact</h1></div>
<a href="mailto:alinaeem229@gmail.com">
    <button type="button" class="btn btn-info btn-rounded btn-lg">Email me
        <mdb-icon fas icon="envelope" class="ml-2" aria-hidden="true"></mdb-icon>
    </button>
</a>
<div class="contact-group">
    <div class="contact">
        <mdb-icon fas icon="phone" size="lg"></mdb-icon>
        +1 678-763-4277
    </div>
    <div class="contact">
        <mdb-icon fas icon="envelope" size="lg"></mdb-icon>
        alinaeem229@gmail.com
    </div>
    <div class="contact">
        <mdb-icon fas icon="map-marker-alt" size="lg"></mdb-icon>
        Atlanta, GA, United States
    </div>
</div>
