<div><h1 style="margin-bottom: 20px">Contact</h1></div>
<a href="mailto:alinaeem229@gmail.com">
    <button type="button" class="btn btn-info btn-rounded btn-lg">EMAIL ME
        <i aria-hidden="true" class="fas fa-envelope ml-2 contact-icon"></i>
    </button>
</a>
<div class="contact-group">
    <div class="contact">
        <i aria-hidden="true" class="fas fa-phone fa-lg contact-icon"></i>
        +1 678-763-4277
    </div>
    <div class="contact">
        <i aria-hidden="true" class="fas fa-envelope fa-lg contact-icon"></i>
        alinaeem229&#64;gmail.com
    </div>
    <div class="contact">
        <i aria-hidden="true" class="fas fa-map-marker-alt fa-lg contact-icon"></i>
        Atlanta, GA, United States
    </div>
</div>
