<img [style.width]="imgWidth" [style.height]="imgHeight" src="assets/netflix.svg" alt="Netflix" *ngIf="false">
<img [style.width]="imgWidth" [style.height]="imgHeight" src="assets/disney.webp" alt="Disney">
<img [style.width]="imgWidth" [style.height]="imgHeight" src="assets/hulu.png" alt="Hulu">
<img [style.width]="imgWidth" [style.height]="imgHeight" src="assets/prime.jpg" alt="Amazon">
<img [style.width]="imgWidth" [style.height]="imgHeight" src="assets/youtube.png" alt="Youtube">
<img [style.width]="imgWidth" [style.height]="imgHeight" src="assets/apple.png" alt="Apple">
<img [style.width]="imgWidth" [style.height]="imgHeight" src="assets/sling.png" alt="Sling">
<img [style.width]="imgWidth" [style.height]="imgHeight" src="assets/peacock.svg" alt="Peacock">