<img class="stream-button" src="assets/netflix.svg" alt="Netflix" *ngIf="title.onNetflix">
<img class="stream-button" src="assets/disney.webp" alt="Disney" *ngIf="title.onDisney">
<img class="stream-button" src="assets/hulu.png" alt="Hulu" *ngIf="title.onHulu">
<img class="stream-button" src="assets/prime.jpg" alt="Amazon" *ngIf="title.onAmazon">
<img class="stream-button" src="assets/youtube.png" alt="Youtube" *ngIf="title.onYoutube">
<img class="stream-button" src="assets/apple.png" alt="Apple" *ngIf="title.onApple">
<img class="stream-button" src="assets/sling.png" alt="Sling" *ngIf="title.onSling">
<img class="stream-button" src="assets/peacock.svg" alt="Peacock" *ngIf="title.onPeacock">
