<h1>Movies</h1>
<form>
  <div class="row toprow">
    <div class="col-auto">
      <div class="md-form">
        <input mdbInput type="text" id="mname" class="form-control" [(ngModel)]="ts.title" name="movname">
        <label for="mname">Title</label>
      </div>
    </div>
    <div class="col-auto">
      <div class="md-form">
        <input mdbInput type="text" id="myear" class="form-control" [(ngModel)]="ts.year" name="movyear">
        <label for="myear">Year</label>
      </div>
    </div>
    <div class="col-auto">
      <div class="md-form">
        <select name="sel" class="browser-default custom-select" [(ngModel)]="ts.selectedOption">
          <option value="">All</option>
          <option value="movie">Movie</option>
          <option value="tv">TV</option>
        </select>
      </div>
    </div>
    <div class="col-auto">
      <div class="md-form">
        <button type="submit" mdbBtn color="elegant" mdbWavesEffect (click)="ts.multiSearch()"
                id="sub" [disabled]="!ts.title" size="md"> Search
        </button>
      </div>
    </div>
    <div class="col-auto ml-auto">
      <div class="md-form">
        <app-user-profile></app-user-profile>
      </div>
    </div>
  </div>
</form>
<div id="target"></div>
<app-title></app-title>

<h2 class="mb-3 mt-3"><b><span style="color:#3F729B; font-size: 130%; border-radius:10px">|</span> Popular Movies</b>
</h2>
<nav class="nav nav-pills nav-justified unique-color">
  <a class="nav-item text-light" (click)="toggleYear(year.key)" *ngFor="let year of popularYears | keyvalue"
     [ngClass]="{'unique-color-dark':year.value}">
    {{year.key.substring(1)}}
  </a>
</nav>
<div class="tab-content" id="pills-tabContent" *ngFor="let year of popularYears | keyvalue" (click)="scrollToElement()">
  <div class="tab-pane fade show active" [ngClass]="{'show active':year.value}">
    <app-popular
      [popList]=popularMovies[year.key.substring(0,1)]></app-popular>
  </div>
</div>
