<div class="mvgroup">
  <h1>Movies</h1>
  <form>
    <div class="row">
      <div class="col-sm">
        <div class="md-form mt-0">
          <input mdbInput type="text" id="mname" class="form-control" [(ngModel)]="moviename" name="movname">
          <label for="mname" class="">Title</label>
        </div>
      </div>
      <div class="col-sm">
        <div class="md-form mt-0">
          <input mdbInput type="text" id="myear" class="form-control" [(ngModel)]="movieyear" name="movyear">
          <label for="myear" class="">Year</label>
        </div>
      </div>
      <div class="col-sm">
        <button type="button" (click)="search()" mdbBtn color="dark" mdbWavesEffect>Search</button>
      </div>
    </div>
  </form>
  <div *ngIf="data">
    <div *ngIf="data.Response != 'False' else elseBlock" class="dataAll">

      <h2><b>{{data.Title}} ({{data.Year}})</b></h2>
      <span *ngIf="loading" class="spinner-border" style="width: 5rem; height: 5rem;" role="status"></span>
      <div class="dataHeader">
        <span *ngIf="data.Rated != 'N/A'">{{data.Rated}} | </span>
        <span *ngIf="data.Released != 'N/A'">{{data.Released}} | </span>
        <span *ngIf="data.Runtime != 'N/A'">{{data.Runtime}} | </span>
        <span *ngIf="data.Genre != 'N/A'">{{data.Genre}} | </span>
        <span *ngIf="data.Language != 'N/A'">{{data.Language}}</span>
      </div>

      <div class="dataBody">
        <img class="poster animated slideInLeft slow" src="{{data.Poster}}" alt="Can't load image">
        <div class="bodyText">

          <h3><b>Plot</b></h3>
          <div>{{data.Plot}}</div>

          <div *ngIf="data.Awards != 'N/A'">
            <h3 style="margin-top: 20px"><b>Awards</b></h3>
            <div>{{data.Awards}}</div>
          </div>
          <h3 style="margin-top: 20px"><b>Ratings</b></h3>
          <span style="display: inline-table;">
          <table mdbTable borderless="true">
            <tbody>
                <tr *ngIf="data.Metascore != 'N/A'">
                  <td><img class="icons" src="assets/meta.png" alt="Can't load image"></td>
                  <td><span class="badge badge-{{metaColor}}">{{data.Metascore}}</span></td>
                </tr>
                <tr *ngIf="data.imdbRating != 'N/A'">
                  <td><img class="icons" src="assets/imdb.jpg" alt="Can't load image" style="border-radius: 15px;"></td>
                  <td><span class="badge badge-{{imdbColor}}">{{data.imdbRating}}</span></td>
                </tr>
                <tr>
                <tr *ngIf="rottenScore !=  null">
                  <td><img class="icons" src="assets/{{rottenImage}}" alt="Can't load image"
                           style="border-radius: 15px;"></td>
                  <td><span class="badge badge-{{rottenColor}}">{{rottenScore}}</span></td>
                </tr>
                <tr *ngIf="totalScore !=  0">
                  <td><img class="icons" src="assets/calculator_icon.png" alt="Can't load image"
                           style="border-radius: 15px;"></td>
                  <td><span class="badge badge-{{totalColor}}">{{overallScore}}</span></td>
                </tr>
            </tbody>
          </table>
        </span>
        </div>
      </div>
    </div>
    <ng-template #elseBlock>Movie not found!</ng-template>
  </div>
</div>
