<div class="mvgroup">
  <h1>Movies</h1>
  <form>
    <div class="row">
      <div class="col-sm">
        <div class="md-form mt-0">
          <input mdbInput type="text" id="mname" class="form-control" [(ngModel)]="moviename" name="movname">
          <label for="mname" class="">Title</label>
        </div>
      </div>
      <div class="col-sm">
        <div class="md-form mt-0">
          <input mdbInput type="text" id="myear" class="form-control" [(ngModel)]="movieyear" name="movyear">
          <label for="myear" class="">Year</label>
        </div>
      </div>
      <div class="col-sm">
        <div class="md-form mt-0">
        <select name="sel" class="browser-default custom-select" [(ngModel)]="selectedOption">
          <option value="">All</option>
          <option value="movie">Movie</option>
          <option value="series">TV</option>
        </select>
        </div>
      </div>
      <div class="col-sm">
        <div class="md-form mt-0">
        <button type="submit" (click)="search()" mdbBtn color="dark" mdbWavesEffect>Search</button>
        </div>
      </div>
    </div>
  </form>
  <div *ngIf="data">
    <div *ngIf="data.Response != 'False' else elseBlock" class="dataAll">
      <h2><b>{{data.Title}} ({{data.Year}})</b></h2>
      <span *ngIf="loading" class="spinner-border" style="width: 5rem; height: 5rem;" role="status"></span>
      <div class="dataHeader">
        <span *ngIf="data.Rated != 'N/A'">{{data.Rated}} | </span>
        <span *ngIf="data.Released != 'N/A'">{{data.Released}} | </span>
        <span *ngIf="data.Runtime != 'N/A'">{{data.Runtime}} | </span>
        <span *ngIf="data.Genre != 'N/A'">{{data.Genre}} | </span>
        <span *ngIf="data.Language != 'N/A'">{{data.Language}}</span>
      </div>
      <div class="dataBody">
        <img *ngIf="data.Poster != 'N/A'" class="poster animated slideInLeft z-depth-3" src="{{data.Poster}}"
             [hidden]="loading"
             alt="Can't load image">
        <div class="bodyText">
          <div *ngIf="data.Plot != 'N/A'">
            <h3><b>Plot</b></h3>
            <div>{{data.Plot}}</div>
          </div>
          <div *ngIf="data.Awards != 'N/A'">
            <h3 style="margin-top: 20px"><b>Awards</b></h3>
            <div>{{data.Awards}}</div>
          </div>
          <h3 *ngIf="data.Ratings.length !== 0" style="margin-top: 20px"><b>Ratings</b></h3>
          <span style="display: inline-table;">
          <table mdbTable borderless="true">
            <tbody>
                <tr *ngIf="data.Metascore != 'N/A'">
                  <td><img class="icons" src="assets/meta.png" alt="Can't load image"></td>
                  <td><span class="badge badge-{{metaColor}} animated zoomIn z-depth-3"
                            [hidden]="loading">{{data.Metascore}}</span></td>
                </tr>
                <tr *ngIf="data.imdbRating != 'N/A'">
                  <td><img class="icons" src="assets/imdb.jpg" alt="Can't load image" style="border-radius: 15px;"></td>
                  <td><span class="badge badge-{{imdbColor}} animated zoomIn z-depth-3"
                            [hidden]="loading">{{data.imdbRating}}</span></td>
                </tr>
                <tr>
                <tr *ngIf="rottenScore !=  null">
                  <td><img class="icons" src="assets/{{rottenImage}}" alt="Can't load image"
                           style="border-radius: 15px;"></td>
                  <td><span class="badge badge-{{rottenColor}} animated zoomIn z-depth-3"
                            [hidden]="loading">{{rottenScore}}</span></td>
                </tr>
                <tr *ngIf="totalScore !=  0">
                  <td><img class="icons" src="assets/calculator_icon.png" alt="Can't load image"
                           style="border-radius: 15px;"></td>
                  <td><span class="badge badge-{{totalColor}} animated zoomIn z-depth-3"
                            [hidden]="loading">{{overallScore}}</span></td>
                </tr>
            </tbody>
          </table>
        </span>
        </div>
      </div>
    </div>
    <ng-template #elseBlock>
      <div class="alert alert-danger mnf" role="alert" [hidden]="loading">
        Search not found!
      </div>
    </ng-template>
  </div>
  <h3><b>Popular Movies</b></h3>
  <nav class="nav nav-pills nav-justified unique-color">
    <!--    <a class="nav-item" (click)="toggleYear(year.key)" id="pills-home-tab" data-toggle="pill" aria-controls="pills-home" aria-selected="true" [href]="'/movies#'+year.key" *ngFor="let year of popularYears | keyvalue">{{year.key}}</a>-->
    <a class="nav-item text-light" (click)="toggleYear(year.key)" *ngFor="let year of popularYears | keyvalue"
       [ngClass]="{'unique-color-dark':year.value}">
      {{year.key.substring(1)}}
    </a>
  </nav>
</div>
<div class="tab-content" id="pills-tabContent" *ngFor="let year of popularYears | keyvalue" >
  <div class="tab-pane fade show active" [ngClass]="{'show active':year.value}">
    <app-popular
      [popList] = popularMovies[year.key.substring(0,1)]></app-popular>
  </div>
</div>
