h1 {
  margin-bottom: 30px;
}

.poster {
  float: left;
  margin-right: 20px;
}

.dataAll {
  margin-top: 20px;
}

.dataBody {
  margin-top: 20px;
}

.bodyText {
  text-align: left;
}

.icons {
  width: 100px;
  height: 100px;
}

.badge {
  border-radius: 15px;
  font-size: 45px;
  padding: 30px;
  margin-left: 60px;
}

.mnf {
  font-size: 20px;
  margin-top: 20px;
}

button {
  margin-top: 0;
}

tr {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  img, button, .poster, table {
    float: none;
    width: 100%;
  }
  .bodyText {
    margin-top: 20px;
  }
  button {
    margin-left: 0;
    margin-top: 20px;
  }
}
