h1 {
  margin-bottom: 30px;
}

.nav-justified {
  margin-top: 10px;
  border-radius: 10px;
}

.nav-item {
  padding: 8px;
}

.unique-color-dark {
  border-radius: 10px;
}

button {
  margin: 0;
}

.custom-select {
  background-color: #f4f4f4;
}

b {
  font-weight: bold;
}

@media (max-width: 900px) {
  button {
    float: none;
    width: 100%;
  }
  .toprow > .col-auto, #sub {
    width: 100%;
  }
}

@media(min-width: 768px) {
  h1 {
    display: none !important;
  }
}
