h1 {
  margin-bottom: 30px;
}

b {
  font-weight: bold;
}

.poster {
  width: 100%;
  max-width: 300px;
  border-radius: 10px 0 0 10px;
}

.main-row {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.certifications {
  padding: 0.06em 4px 0.15em 4px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.badge {
  border-radius: 0 10px 10px 0;
  font-size: 60px;
  padding: 30px;
  height: 100%;
  width: 100%;
}

a {
  color: black;
}

.overview {
  //height:200px;
  //white-space: nowrap;
  //overflow: hidden;
  //height: 150px;
  //text-overflow: ellipsis;

  //height: 2.5em;
  //overflow: hidden;
  //text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  h1 {
    margin-bottom: 5px;
  }
  .button-col, button {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .badge {
    font-size: 20px;
    padding: 10px
  }
  h5 {
    font-size: 0.8rem;
  }
}

// Small devices (landscape phones, 576px and upto 768px)
@media (min-width: 576px) and (max-width: 768px) {
  .badge {
    font-size: 40px;
    padding: 20px
  }
  :not(h1) {
    font-size: 0.85em;
  }
}

.fas {
  color: #6c757d;
}

.fas:hover {
  color: black;
}


@media (min-width: 768.1px) and (max-width: 991.98px) {
  :not(h1) {
    font-size: 0.96em;
  }
}

