h1 {
  margin-bottom: 30px;
}

b {
  font-weight: bold;
}


.poster {
  width: 100%;
  border-radius: 10px 0 0 10px;
}

.main-row {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.certifications {
  padding: 0.06em 4px 0.15em 4px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
