<div class="row">
  <h1 class="col p-0"><b>Your Watchlist <span *ngIf="watchlist.length !==0">({{watchlist.length}})</span></b></h1>
  <div class="col-auto ml-auto button-col mb-1 mb-sm-0 p-0">
    <button type="submit" [routerLink]="['/movies']" mdbBtn color="elegant" mdbWavesEffect id="target" size="md">
      Back to Movies
    </button>
  </div>
</div>
<ng-container *ngFor="let title of watchlist; let i = index">
  <div class="row mb-3 main-row animated zoomIn z-depth-1">
    <a class="col-2 pl-0" (click)="ts.search(title.id, title.media_type)" [routerLink]="['/movies']">
      <img *ngIf="title.poster_path" class="poster hoverable"
           src="{{'https://image.tmdb.org/t/p/w500/' + title.poster_path}}"
           alt="Can't load image">
      <img *ngIf="!title.poster_path && title.omdbPoster" class="poster" src="{{title.omdbPoster}}"
           alt="Can't load image">
      <img *ngIf="!title.poster_path && !title.omdbPoster" class="poster" src="assets/404PosterNotFound.jpg"
           alt="Can't load image">
    </a>

    <div class="col-8 p-2">
      <div class="row">
        <a (click)="ts.search(title.id, title.media_type)" [routerLink]="['/movies']"><h5>
          <b>{{title.title ? title.title : title.name}}
            <span class="year text-muted">({{title.release_date ?
              (title.release_date | date:'yyyy') : (title.first_air_date | date:'yyyy')}})
            </span></b></h5></a>
      </div>

      <div class="row d-none d-sm-block">
        <span *ngIf="title.certification"><span class="certifications">{{title.certification}}</span>&nbsp;&nbsp;&nbsp;</span>
        <span>{{title.release_date ? (title.release_date | date:'d MMMM yyyy') : (title.first_air_date | date:'d MMMM yyyy')}}
          <span class="text-muted">&nbsp;|&nbsp;&nbsp;</span></span>
        <span *ngIf="title.genres">
            <ng-container
              *ngFor="let genre of title.genres;  let isLast=last">{{genre.name}}{{isLast ? '' : ', '}} </ng-container>
            <span class="text-muted">&nbsp;|&nbsp;&nbsp;</span></span>
        <span *ngIf="title.runtime">{{title.runtimeText}}<span class="text-muted">&nbsp;|&nbsp;&nbsp;</span></span>
        <span *ngIf="title.language">{{title.language}}</span>
      </div>

      <div class="row mt-3 pr-3 d-none d-sm-block" *ngIf="title.overview"><p class="overview">{{title.overview}}</p></div>

      <div class="row mt-lg-3">
        <div class="col-4 col-sm-1">
          <a (click)="removeFromWatchlist(title.watchlistDocId)">
            <i class="fas fa-bookmark fa-lg amber-text"></i>
          </a>
        </div>
        <div class="col-4 col-sm-1">
          <a>
            <i class="fas fa-heart fa-lg"></i>
          </a>
        </div>
        <div class="col-4 col-sm-1">
          <a [href]="title.trailer" target="_blank">
            <i class="fas fa-play fa-lg"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="col-2 pr-0">
      <div *ngIf="title.averageScore"
           class="badge badge-{{ts.getRatingColor(title.averageScore)}} d-flex align-content-center flex-wrap justify-content-center">
        {{title.averageScore}}</div>

      <div *ngIf="!title.averageScore && title.vote_average"
           class="badge badge-{{ts.getRatingColor(title.vote_average * 10)}} d-flex align-content-center flex-wrap justify-content-center">
        {{title.vote_average * 10}}</div>
    </div>
  </div>
</ng-container>
<div *ngIf="empty" class="alert alert-info" role="alert">
  Empty watchlist, add something to track.
</div>
