<div class="d-flex flex-row container">
  <div class="p-2"><img class="z-depth-3" src="./assets/mypic.jpg" alt="My picture">
  </div>
  <div class="content p-2 text-left">
    <div><h1>About me</h1></div>
    <br>
    <div>I'm currently enrolled at Kennesaw State University for Software Engineering. I like to write clean code, I
      enjoy working on desktop applications, Android apps & video games.
    </div>
    <br>
    <div>
      I work for KSU as a teaching assistant and tutor for Data Structures, Java Programming and Advanced Programming
      Principles.
    </div>
  </div>
</div>
