<div class="row">
  <div class="col-md-6 col-sm-12">
    <img class="z-depth-3" src="./assets/mypic.jpg" alt="My picture">
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="content">
      <div><h1>About Me</h1></div>
      <div style="margin-bottom: 5px;">I'm currently enrolled at Kennesaw State University for Software Engineering. I
        like
        to write clean code, I
        enjoy working on Web apps, desktop apps, Android apps & video games. I designed this website using Angular and
        Bootstrap & I'm hosting this on my home web server using a Raspberry Pi.
      </div>
      <div>
        I work for KSU as a teaching assistant and tutor for Data Structures, Java Programming and Advanced Programming
        Principles.
      </div>
      <div style="margin-top: 8px"><h1>Experienced With</h1></div>
      <div>
        <app-skillbar></app-skillbar>
      </div>
    </div>
  </div>
</div>
