img {
  width: 45%;
  height: auto;
  float: left;
}

.content {
  text-align: left;
  margin-top: 20px;
  width: 50%;
  float: right;
}

@media screen and (max-width: 600px) {
  img, .content {
    float: none;
    width: 100%;
  }
  h1 {
    text-align: center;
  }
}
