<img class="z-depth-3" src="./assets/mypic.jpg" alt="My picture">
<div class="content">
  <div><h1>About Me</h1></div>
  <div style="margin-bottom: 5px;">I'm currently enrolled at Kennesaw State University for Software Engineering. I like
    to write clean code, I
    enjoy working on Web apps, desktop apps, Android apps & video games.
  </div>
  <div>
    I work for KSU as a teaching assistant and tutor for Data Structures, Java Programming and Advanced Programming
    Principles.
  </div>
  <div style="margin-top: 5px"><h1>Experienced With</h1></div>
  <div>
    <app-skillbar></app-skillbar>
  </div>
</div>
