button {
  margin: 0;
}

img {
  width: 50px;
  height: auto;
}

.dropdown-toggle::before {
  content: none;
}

.hoverable {
  transition-delay: 0s;
}

@media (max-width: 900px) {
  button {
    width: 100%;
  }
  .dd {
    text-align: center;
  }
}
