button {
  margin: 0;
}

img {
  width: 50px;
  height: auto;
}

.dropdown-toggle::after {
  content: none;
}

@media (max-width: 768px) {
  button {
    float: none;
    width: 100%;
  }
}

@media (max-width: 920px) {
  #target {
    width: 100%;
  }
}
