<div *ngIf="auth.user$ | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>
  <button type="submit" (click)="auth.googleSignin()" mdbBtn color="elegant" mdbWavesEffect id="target" size="md">
    Connect With &nbsp;<i class="fab fa-google"></i>
  </button>
</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user$ | async as user">
    <div class="dropdown" mdbDropdown>
      <a mdbDropdownToggle type="button" class="dropdown-toggle">
        <img [src]="user.photoURL" alt=""
             class="rounded-circle"></a>
      <div class="dropdown-menu dropdown-primary">
        <h6 class="dropdown-header">{{user.displayName}}</h6>
        <a class="dropdown-item" href="watchlist">Watchlist</a>
        <a class="dropdown-item" href="#">Love list</a>
        <div class="divider dropdown-divider"></div>
        <a class="dropdown-item" (click)="auth.signOut()">Logout</a>
      </div>
    </div>
  </div>
</ng-template>
