<div class="row">
    <h1 class="col p-0"><b>Settings</b>
    </h1>
    <div class="col-auto ml-auto button-col mb-1 mb-sm-0 p-0 mr-2">
    </div>
    <div class="col-auto ml-auto button-col mb-1 mb-sm-0 p-0">
        <button color="elegant" id="target" mdbBtn mdbWavesEffect routerLink="../movies" size="md" type="submit">
            Back to Movies
        </button>
    </div>
</div>

<div class="mt-4">
    <h6 class="text-muted">Select Streaming Providers</h6>
    <div *ngFor="let provider of providers" class="provider-option">
        <label [for]="provider.id">
            <input [(ngModel)]="provider.selected" [id]="provider.id" [name]="provider.id" type="checkbox">
            <span> {{ provider.name }}</span>
        </label>
        <img [alt]="provider.name + ' Icon'" [src]="provider.icon">
    </div>
    <button (click)="updateSettings()" color="elegant" mdbBtn mdbWavesEffect size="md" type="submit">
        Save
    </button>
</div>

